<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <welcome-file-list>
    <welcome-file>news.do</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>servlet.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/add.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserSelectServlet</servlet-name>
    <servlet-class>servlet.UserSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSelectServlet</servlet-name>
    <url-pattern>/select.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/imageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerificationServlet</servlet-name>
    <servlet-class>servlet.VerificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificationServlet</servlet-name>
    <url-pattern>/verificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewSelServlet</servlet-name>
    <servlet-class>servlet.ViewSelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSelServlet</servlet-name>
    <url-pattern>/view.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/news.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProjectSelect</servlet-name>
    <servlet-class>servlet.ProjectSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectSelect</servlet-name>
    <url-pattern>/selproj.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>Filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>Filter.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/main.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/check.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookiedServlet</servlet-name>
    <servlet-class>servlet.CookiedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookiedServlet</servlet-name>
    <url-pattern>/Cookie.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TimeServlet</servlet-name>
    <servlet-class>servlet.TimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeServlet</servlet-name>
    <url-pattern>/time.do</url-pattern>
  </servlet-mapping>
</web-app>